@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');

*{
	padding: 0;
	margin: 0;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: 300;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 2px solid red; */
}

body{
    /* background-color: rgb(212, 140, 140); */
    background-color: #d2e8fe;
}

div.fond_1{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../contenu/fond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

body.dark_mode div.fond_1{
    background-image: url(https://img.fotocommunity.com/le-soleil-sest-couche-sur-notre-campagnebonne-nuit-b3c3c782-f495-4611-8986-3a44322f6d5a.jpg?height=1080);
    transition: 0.15s linear;
}

div.fond_2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

section.contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.navigation{
    /* background-color: black; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

nav{
    /* background-color: red; */
    width: 65%;
    margin: 15px 0;
}

ul{
    /* background-color: yellow; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

li{
    /* background-color: red; */
    backdrop-filter: blur(5px);
    border-radius: 25px;
    flex:1 0 10%;
    text-align: center;
    padding: 15px;
    font-weight: 900;
    border: 1px solid white;
}

li:hover{
    transition: 0.5s;
    background-color: white;
}

li:hover a{
    transition: 0.5s;
    font-weight: 700;
    color: black;
}

ul a{
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

div.boite{
    display: none;
}


.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 8vw;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .pic{
    /* background-color: red; */
    display: flex;
    margin: 40px 0;
    width: calc(40vw + 110px);
    justify-content: center;
}


.card > .row {
    color: black;
    display: flex;
    flex-wrap: nowrap;
    /* background-color: red; */
}

.card img{
    /* background-color: blue; */
    width: 300px;
}

.card > .row > .icon {
    background: white;
    color: black;
    font-weight: 900;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: white;
    font-weight: 500;
    padding-top: 5px;
}

.description h4 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 44vw;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    backdrop-filter: blur(5px) ;
}
.card[for="c2"] {
    backdrop-filter: blur(5px) ;
}
.card[for="c3"] {
    backdrop-filter: blur(5px) ;
}









#icons{
    cursor: pointer;
    color: white;
    display: none;
}

.background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    transition: 0.5s;
}

@media (max-width: 1200px){
    .card {
        width: 9vw;
    }

    input:checked + label {
        width: 50vw;
    }

    div.box, nav{
        width: 80%;
    }
}

@media (max-width: 800px){
    div.box{
        width: 90%;
    }

    .logos-slide img{
        height: 100px;
    }

    #icons{
        position: relative;
        display: block;
        z-index: 2;
    }

    #icons:before{
        content: "\2630";
        font-size: 30px;
    }

    .active #icons:before{
        content: "\2715";
        font-size: 30px;      
    }

    .background{
        display: block;
        left: -150%;
    }

    nav ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        left: -150%;
        width: 100%;
        z-index: 1;
        transition: 0.5s;
    }

    li{
        align-self: center;
        width: 45%;
    }

    nav.active ul{
        left: 0;
    }

    nav.active .background{
        left: 0;
    }

    .wrapper{
        display: none;
    }

    div.boite img{
        width: 250px;
    } 

    div.boite{
        /* background-color: red; */
        backdrop-filter: blur(10px);
        width: 80%;
        /* height: 900px; */
        border-radius: 3vw;
        color: white;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }

}

@media (max-width: 500px) {
    div.boite{
        width: 90%;
    }
}

section.bouton {
    position: relative;
    /* background-color: yellow; */
    width: 100%;
    height: 85px;
    display: flex;
}

div.box {
    position: relative;
    background-color: #9ad3ee;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 500px;
    transition: 0.15s linear;
    overflow: hidden;
    left: calc(100% - 140px);
}


div.box div.circle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #efd368;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    z-index: 50;
    left: 5px;
    top: 5px;
    transition: 0.15s linear;
}


div.box.dark_mode{
    background-color: #2f5673;
}

div.box.dark_mode .circle{
    left: calc(100% - 45px);
    background-color: #f2f2f2;
}

div.box.dark_mode .lune{
    border-radius: 50%;
    background-color: #e0dfd6;
    opacity: 100;
    transition: 0.15s linear;
}

.lune1{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 30%;
    left: 10%;
}

.lune2{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 15%;
    left: 25%;
}

.lune3{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 55%;
    left: 70%;
}

div.box .lune{
    opacity: 0;
}


div.box.dark_mode .circle .jour{
    display: block;
}

div.box.dark_mode .circle .nuit{
    display: none;
}




img.nuage{
    position: absolute;
    width: 12px;
    opacity: 100;
    transition: 0.15s linear;
}

body.dark_mode img.nuage{
   opacity: 0;
}

.etoile{
    opacity: 0;
    transition: 0.15s linear;
 }

body.dark_mode .etoile{
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f2f2f2;
    clip-path: polygon(50% 0, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0 50%, 40% 40%);
    opacity: 100;
}








div.box .ville1 {
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 5;
}

div.box .ville1 .jour {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #2f5673;
    position: relative;
    clip-path: polygon(100% 25%, 86% 25%, 86% 75%, 80% 75%, 80% 17%, 70% 17%, 67% 25%,
    67% 58%, 63% 58%, 63% 34%, 53% 34%, 53% 26%, 47% 26%, 47% 66%, 43% 66%, 43% 42%,
    37% 42%, 33% 50%, 0 50%, 0 100%, 100% 100%);
    transition: 0.15s linear;
    left: -50%;   
}


.fenetre_jour{
    position: absolute;
    width: 0.15em;
    height: 0.15em;
    background-color: #4e7fa5;
}


div.box .ville1 .nuit {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #152b40;
    position: relative;
    clip-path: polygon(0% 100%, 0% 83%, 3% 83%, 3% 50%, 14% 50%, 14% 83%, 17% 83%,
    17% 25%, 27% 25%, 30% 34%, 30% 66%, 33% 66%, 33% 58%, 40% 58%, 40% 75%, 47% 75%,
    47% 17%, 53% 17%, 53% 25%, 60% 25%, 60% 42%, 100% 42%, 100% 100%);
    transition: 0.15s linear;
    left: -50%;
}

.fenetre_nuit{
    position: absolute;
    width: 0.15em;
    height: 0.15em;
    background-color: #efd368;
}


div.box.dark_mode .ville1 .jour,
div.box.dark_mode .ville1 .nuit {
    transform: translateX(100%);
}









div.box .ville2 {
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 4;
}

div.box .ville2 .jour {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #517ea7;
    position: relative;

    clip-path: polygon(100% 100%, 100% 50%, 90% 50%, 90% 17%, 77% 17%, 77% 75%, 67% 75%, 67% 25%, 60% 25%, 60% 9%, 50% 9%, 50% 33%, 40% 33%, 40% 75%, 0 75%, 0 100%);
    transition: 0.15s linear;
    left: -50%;   
}

div.box .ville2 .nuit {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #517ea7;
    position: relative;
    clip-path: polygon(0% 100%, 0% 100%, 0% 33%, 0% 33%, 7% 34%, 7% 34%, 7% 59%, 7% 59%,
    20% 59%, 20% 59%, 20% 17%, 20% 17%, 23% 9%, 23% 9%, 37% 9%, 37% 9%, 37% 50%, 37% 50%, 
    43% 50%, 43% 50%, 43% 17%, 43% 17%, 50% 17%, 50% 17%, 50% 34%, 50% 34%, 57% 34%, 57% 34%, 
    57% 9%, 57% 9%, 70% 9%, 70% 9%, 70% 91%, 70% 91%, 100% 91%, 100% 91%, 100% 100%, 100% 100%);    
    transition: 0.15s linear;
    left: -50%;
}


div.box.dark_mode .ville2 .jour,
div.box.dark_mode .ville2 .nuit {
    transform: translateX(100%);
}
