@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: 300;
}

body{
    /* background-color: rgb(212, 140, 140); */
    background-color: #d2e8fe;
}


div.fond_1{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../contenu/fond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

body.dark_mode div.fond_1{
    background-image: url(https://img.fotocommunity.com/le-soleil-sest-couche-sur-notre-campagnebonne-nuit-b3c3c782-f495-4611-8986-3a44322f6d5a.jpg?height=1080);
    transition: 0.15s linear;
}

div.fond_2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

section.contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.navigation{
    /* background-color: black; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

nav{
    /* background-color: red; */
    width: 65%;
    margin: 15px 0;
}

ul{
    /* background-color: yellow; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

li{
    /* background-color: red; */
    backdrop-filter: blur(5px);
    border-radius: 25px;
    flex:1 0 10%;
    text-align: center;
    padding: 15px;
    font-weight: 900;
    border: 1px solid white;
}

li:hover{
    transition: 0.5s;
    background-color: white;
}

li:hover a{
    transition: 0.5s;
    font-weight: 700;
    color: black;
}

ul a{
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

div.boite{
    /* background-color: red; */
    backdrop-filter: blur(10px);
    width: 65%;
    /* height: 900px; */
    border-radius: 3vw;
    color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

div.presentation{
    /* background-color: yellow; */
    padding-top: 10px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    align-self: center;
    text-align: justify;
}

.presentation h1{
    font-size: 25px;
}

section.titre{
    /* background-color: red; */
    width: 80%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-self:  center;
}

hr.titre_dessus{
    margin-top: 20px;
    align-self: center;
    background-color: white;
    border: none;
    width: 100%;
    height: 2px;
}

hr.titre_dessous{
    margin-bottom: 20px;
    align-self: center;
    background-color: white;
    border: none;
    width: 100%;
    height: 2px;
}

.titre h1{
    /* background-color: yellow; */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px;
    color: white;
}

div.tableau{
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-rows: repeat(8, auto);
    grid-gap: 0 15px;
    margin: 0 30px;
    margin-bottom: 50px;
    /* background-color: yellow; */
}


div.tableau h1 {
    font-size: calc(1em + 0.55vw);
    font-weight: bold;
}

div.tableau h4 {
    width: 100%;
    font-size: calc(1em + 0.15vw);
    font-weight: 300;
}

div.item hr{
    width: 65%;
    height: 2px;
    background-color: white;
    border: none;
    margin-bottom: 10px;
}

.item{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 85%;
}

.item1{
    grid-row: 1/2;

}

.item2{
    grid-row: 2/3;
}

.item3{
    grid-row: 3/4;
}

.item4{
    grid-row: 4/5;
}

.item5{
    grid-row: 5/6;
}

.item6{
    grid-row: 6/7;
}

.item7{
    grid-row: 7/8;
}

.item8{
    grid-row: 8/9;
}

.item_gauche {
    margin-left: auto;
    text-align: end;
    grid-column: 1/2;
}

.item_gauche hr{
    align-self: end;
}

.item_droite{
    grid-column: 3/4;
}

.item_centre{
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/-1;
}

#icons{
    cursor: pointer;
    color: white;
    display: none;
}

.background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    display: none;
    transition: 0.5s;
}

@media (max-width: 1200px){
    div.boite, nav{
        width: 80%;
    }


}

@media (max-width: 800px) {
    div.boite{
        width: 85%;
    }

    div.tableau{
        display: grid;
        grid-template-columns: 100%;
        width: 80%;
        align-self: center;
        row-gap: 25px;
    }

    div.tableau hr{
        align-self: flex-start;
    }


    .item{
        margin: 5px 0;
        /* background-color: red; */
        width: 100%;
        text-align: start;
    }

    .item_droite{
        grid-column: 1/2;
    }

    #icons{
        position: relative;
        display: block;
        z-index: 1000;
        width: 30px;
    }

    #icons:before{
        content: "\2630";
        font-size: 30px;
    }

    .active #icons:before{
        content: "\2715";
        font-size: 30px;      
    }

    .background{
        display: block;
        left: -150%;
    }

    nav ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        left: -150%;
        width: 100%;
        z-index: 1000;
        transition: 0.5s;
    }

    li{
        align-self: center;
        width: 45%;
    }

    nav.active ul{
        left: 0;
    }

    nav.active .background{
        left: 0;
    }

    .titre h1{
        font-size: 40px;
    }

    .presentation h1{
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    div.boite{
        width: 90%;
    }
}





section.bouton {
    position: relative;
    /* background-color: yellow; */
    width: 100%;
    height: 85px;
    display: flex;
}

div.box {
    position: relative;
    background-color: #9ad3ee;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 500px;
    transition: 0.15s linear;
    overflow: hidden;
    left: calc(100% - 140px);
}


div.box div.circle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #efd368;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    z-index: 50;
    left: 5px;
    top: 5px;
    transition: 0.15s linear;
}


div.box.dark_mode{
    background-color: #2f5673;
}

div.box.dark_mode .circle{
    left: calc(100% - 45px);
    background-color: #f2f2f2;
}

div.box.dark_mode .lune{
    border-radius: 50%;
    background-color: #e0dfd6;
    opacity: 100;
    transition: 0.15s linear;
}

.lune1{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 30%;
    left: 10%;
}

.lune2{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 15%;
    left: 25%;
}

.lune3{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 55%;
    left: 70%;
}

div.box .lune{
    opacity: 0;
}


div.box.dark_mode .circle .jour{
    display: block;
}

div.box.dark_mode .circle .nuit{
    display: none;
}




img.nuage{
    position: absolute;
    width: 12px;
    opacity: 100;
    transition: 0.15s linear;
}

body.dark_mode img.nuage{
   opacity: 0;
}

.etoile{
    opacity: 0;
    transition: 0.15s linear;
 }

body.dark_mode .etoile{
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #f2f2f2;
    clip-path: polygon(50% 0, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0 50%, 40% 40%);
    opacity: 100;
}








div.box .ville1 {
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 5;
}

div.box .ville1 .jour {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #2f5673;
    position: relative;
    clip-path: polygon(100% 25%, 86% 25%, 86% 75%, 80% 75%, 80% 17%, 70% 17%, 67% 25%,
    67% 58%, 63% 58%, 63% 34%, 53% 34%, 53% 26%, 47% 26%, 47% 66%, 43% 66%, 43% 42%,
    37% 42%, 33% 50%, 0 50%, 0 100%, 100% 100%);
    transition: 0.15s linear;
    left: -50%;   
}


.fenetre_jour{
    position: absolute;
    width: 0.15em;
    height: 0.15em;
    background-color: #4e7fa5;
}


div.box .ville1 .nuit {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #152b40;
    position: relative;
    clip-path: polygon(0% 100%, 0% 83%, 3% 83%, 3% 50%, 14% 50%, 14% 83%, 17% 83%,
    17% 25%, 27% 25%, 30% 34%, 30% 66%, 33% 66%, 33% 58%, 40% 58%, 40% 75%, 47% 75%,
    47% 17%, 53% 17%, 53% 25%, 60% 25%, 60% 42%, 100% 42%, 100% 100%);
    transition: 0.15s linear;
    left: -50%;
}

.fenetre_nuit{
    position: absolute;
    width: 0.15em;
    height: 0.15em;
    background-color: #efd368;
}


div.box.dark_mode .ville1 .jour,
div.box.dark_mode .ville1 .nuit {
    transform: translateX(100%);
}









div.box .ville2 {
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 4;
}

div.box .ville2 .jour {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #517ea7;
    position: relative;

    clip-path: polygon(100% 100%, 100% 50%, 90% 50%, 90% 17%, 77% 17%, 77% 75%, 67% 75%, 67% 25%, 60% 25%, 60% 9%, 50% 9%, 50% 33%, 40% 33%, 40% 75%, 0 75%, 0 100%);
    transition: 0.15s linear;
    left: -50%;   
}

div.box .ville2 .nuit {
    width: 100%; /* Modification de la largeur pour 50% */
    height: 100%;
    background-color: #517ea7;
    position: relative;
    clip-path: polygon(0% 100%, 0% 100%, 0% 33%, 0% 33%, 7% 34%, 7% 34%, 7% 59%, 7% 59%,
    20% 59%, 20% 59%, 20% 17%, 20% 17%, 23% 9%, 23% 9%, 37% 9%, 37% 9%, 37% 50%, 37% 50%, 
    43% 50%, 43% 50%, 43% 17%, 43% 17%, 50% 17%, 50% 17%, 50% 34%, 50% 34%, 57% 34%, 57% 34%, 
    57% 9%, 57% 9%, 70% 9%, 70% 9%, 70% 91%, 70% 91%, 100% 91%, 100% 91%, 100% 100%, 100% 100%);    
    transition: 0.15s linear;
    left: -50%;
}


div.box.dark_mode .ville2 .jour,
div.box.dark_mode .ville2 .nuit {
    transform: translateX(100%);
}
